section.loading {
    /* sizing */
    padding: var(--header-style-padding);
    height: 100vh;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* animation */
    --duration: 0.5s;
    --delay: 0.25s;
}

section.loading div.container {
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.loading div.container h1 {}

section.loading div.container .dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--form-color-selector);
    color: var(--form-color-selector);
    animation: dot-flashing var(--duration) infinite linear alternate;
    animation-delay: calc(var(--delay) * 1);
}

section.loading div.container .dot-flashing::before,
section.loading div.container .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

section.loading div.container .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--form-color-selector);
    color: var(--form-color-selector);
    animation: dot-flashing var(--duration) infinite alternate;
    animation-delay: calc(var(--delay) * 0);
}

section.loading div.container .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--form-color-selector);
    color: var(--form-color-selector);
    animation: dot-flashing var(--duration) infinite alternate;
    animation-delay: calc(var(--delay) * 2);
}

@keyframes dot-flashing {
    0% {
        background-color: var(--form-color-selector);
    }

    75%,
    100% {
        background-color: var(--background-color-500);
    }
}