#monopoly .station {
    /* variables */
    --height: 325px;

    /* sizing */
    width: 100%;
    height: var(--height);
    min-height: var(--height);

    /* flex */
    display: flex;
    flex-direction: column;

    /* styling */
    background-color: var(--background-color-200);
    border-radius: 10px;
    overflow: hidden;

    /* transition */
    transition: var(--transition-color-600), var(--transition-background_color-600);
}

#monopoly .station .top {
    /* position */
    position: relative;

    /* sizing */
    height: 55px;
    flex-shrink: 0;
    margin: 5px;
    margin-bottom: 0;

    /* styling */
    background-color: var(--background-color);
    color: var(--foreground-color);
    border-radius: 7.5px;
}

#monopoly .station .top svg {
    /* sizing */
    width: 100px;
    height: auto;
}

#monopoly .station .top span {
    /* text */
    font-size: 24px;
    font-weight: 800;
    line-height: 1;
    white-space: nowrap;

    /* one line limit */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

#monopoly .station .top span.title {
    /* position */
    position: absolute;
    top: 10px;
    left: 50%;
    translate: -50% 0;

    /* sizing */
    width: max-content;
    max-width: 100%;

    /* text */
    font-size: 10px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;

    /* transition */
    transition: left 0.125s ease-in-out, translate 0.125s ease-in-out;
}

#monopoly .station .top span.name {
    /* position */
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;

    /* sizing */
    width: max-content;
    max-width: calc(100% - 20px);
    padding-bottom: 10px;

    /* text */
    font-size: 24px;
    font-weight: 800;
    line-height: 1;
    white-space: nowrap;

    /* one line limit */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;

    /* transition */
    transition: left 0.125s ease-in-out, translate 0.125s ease-in-out;
}

/*** bottom ***/
#monopoly .station .bottom {
    /* sizing */
    height: 100%;
    padding: 10px;
    padding-bottom: 20px;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#monopoly .station .bottom .rents {
    /* sizing */
    width: 225px;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#monopoly .station .bottom .rents .line {
    /* sizing */
    width: 100%;

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;

    /* styling */
    cursor: default;
    border-bottom: 2px solid transparent;
}

#monopoly .station .bottom .rents .line:hover {
    border-bottom-color: currentColor;
}

#monopoly .station .bottom span {
    /* text */
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

#monopoly .station .bottom span.price {
    /* text */
    font-weight: 700;
}

#monopoly .station:hover span.title,
#monopoly .station:hover span.name {
    left: 10px;
    translate: 0 0;
}