body.modal-goPass-visible {
    overflow-y: hidden;
}

body.modal-goPass-visible #monopoly dialog.modal#goPass {
    /* hiding */
    display: flex;
}

body.modal-goPass-visible #monopoly dialog.modal-overlay#for-goPass {
    /* hiding */
    pointer-events: auto;
    opacity: 1;
}