body.modal-pay-visible {
    overflow-y: hidden;
}

body.modal-pay-visible #monopoly div.modal#pay {
    /* hiding */
    display: flex;
}

body.modal-pay-visible #monopoly div.modal-overlay#for-pay {
    /* hiding */
    pointer-events: auto;
    opacity: 1;
}

#monopoly div.modal#pay form button[type="bank"] {
    /* sizing */
    width: 100%;
    padding: 5px;

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    /* styling */
    border-radius: 10px;
    border: 2px solid var(--foreground-color-100);
    background-color: transparent;
    color: var(--foreground-color-100);
}

#monopoly div.modal#pay form button[type="bank"]:hover,
#monopoly div.modal#pay form button[type="bank"]:focus-visible {
    border: 2px solid var(--foreground-color-100);
    background-color: var(--foreground-color-100);
    color: var(--form-color-selector);
}

#monopoly div.modal#pay form button[type="bank"] svg.bank {
    /* sizing */
    --size: 50px;
    height: var(--size);
    width: var(--size);

    /* styling */
    color: inherit;
    fill: currentColor;
}

#monopoly div.modal#pay form button[type="bank"] span {
    /* text */
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
}

#monopoly div.modal#pay .recipient svg.bank {
    /* sizing */
    --size: 50px;
    height: var(--size);
    width: var(--size);

    /* styling */
    color: inherit;
    fill: currentColor;
}

#monopoly div.modal#pay .recipient span.bank {
    /* text */
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
}