body.modal-qr-visible {
    overflow-y: hidden;
}

body.modal-qr-visible #monopoly div.modal#qr {
    /* hiding */
    display: flex;
}

body.modal-qr-visible #monopoly div.modal-overlay#for-qr {
    /* hiding */
    pointer-events: auto;
    opacity: 1;
}

/*** container ***/
#monopoly div.modal#qr .container {
    padding: clamp(10px, 10vmax, 20px);
}

/*** side-by-side ***/
#monopoly div.modal#qr .container .side-by-side {
    /* grid */
    grid-template-columns: repeat(auto-fit, minmax(min(275px, 100%), 1fr));
    gap: 20px;
}

#monopoly div.modal#qr .container .side-by-side .side {
    /* sizing */
    width: 100%;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*** code & url ***/
#monopoly div.modal#qr .container div.url,
#monopoly div.modal#qr .container div.gamecode {
    /* sizing */
    width: 100%;
    overflow-x: scroll;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#monopoly div.modal#qr .container .overflow {
    /* sizing */
    padding: 10px;
    max-width: 100%;
    overflow-x: auto;

    /* styling */
    background-color: var(--background-color-300);
    color: var(--foreground-color-100);
    border-radius: 10px;
}

#monopoly div.modal#qr .container span.url,
#monopoly div.modal#qr .container span.code {
    /* sizing */
    margin-right: 10px;

    /* text */
    white-space: nowrap;
}

#monopoly div.modal#qr .container span.subTitle {
    /* text */
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
}

/*** copy button ***/
#monopoly div.modal .container button[type="copy"] {
    /* sizing */
    height: 40px;

    /* flex */
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    /* text */
    font-size: 20px;
    font-weight: 700;

    /* styling */
    border-radius: 10px;
    border: none;
    background-color: var(--form-color-selector);
    color: var(--foreground-color-100);
    opacity: 1;
    cursor: pointer;

    /* transition */
    transition: var(--quick-transition-translate), var(--quick-transition-opacity);
}

#monopoly div.modal .container button[type="copy"]:hover,
#monopoly div.modal .container button[type="copy"]:focus-visible {
    color: var(--form-color-selector);
    background-color: var(--foreground-color-200);
}

#monopoly div.modal .container button[type="copy"]:focus-visible {
    outline: 2px solid var(--form-color-selector);
    outline-offset: 2px;
}