body.modal-sale-request-visible {
    overflow-y: hidden;
}

body.modal-sale-request-visible #monopoly dialog.modal#sale-request {
    /* hiding */
    display: flex;
}

body.modal-sale-request-visible #monopoly dialog.modal-overlay#for-sale-request {
    /* hiding */
    pointer-events: auto;
    opacity: 1;
}

/*** selected property ***/
#monopoly dialog.modal#sale-request .selected-property {
    /* position */
    position: relative;

    /* sizing */
    height: 55px;
    width: 100%;
    flex-shrink: 0;
    margin: 0;
    padding: 0;

    /* styling */
    background-color: var(--background-color);
    color: var(--foreground-color);
    border-radius: 7.5px;
    border: none;
    overflow: hidden;
}

#monopoly dialog.modal#sale-request .selected-property span.title {
    /* position */
    position: absolute;
    top: 10px;
    left: 50%;
    translate: -50% 0;

    /* sizing */
    width: max-content;
    max-width: 100%;
    margin: 0;

    /* text */
    font-size: 10px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;

    /* transition */
    transition: left 0.125s ease-in-out, translate 0.125s ease-in-out;
}

#monopoly dialog.modal#sale-request .selected-property span.name {
    /* position */
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;

    /* sizing */
    width: max-content;
    max-width: calc(100% - 20px);
    padding-bottom: 10px;

    /* text */
    font-size: 24px;
    font-weight: 800;
    line-height: 1;
    white-space: nowrap;

    /* one line limit */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;

    /* transition */
    transition: left 0.125s ease-in-out, translate 0.125s ease-in-out;
}