/*** properties ***/
#monopoly dialog.modal#unmortgage .properties {
    /* spacing */
    margin: 0;
    padding: 0;

    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(285px, 100%), 1fr));
    gap: 5px;
}

#monopoly dialog.modal#unmortgage .selected-property,
#monopoly dialog.modal#unmortgage .properties .item {
    /* position */
    position: relative;

    /* sizing */
    height: 55px;
    width: 100%;
    flex-shrink: 0;
    margin: 0;
    padding: 0;

    /* styling */
    background-color: var(--background-color);
    color: var(--foreground-color);
    border-radius: 7.5px;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

#monopoly dialog.modal#unmortgage .properties .item.selected {
    background-color: var(--form-color-selector);
    color: var(--foreground-color-100);
}

#monopoly dialog.modal#unmortgage .selected-property span.title,
#monopoly dialog.modal#unmortgage .properties .item span.title {
    /* position */
    position: absolute;
    top: 10px;
    left: 50%;
    translate: -50% 0;

    /* sizing */
    width: max-content;
    max-width: 100%;
    margin: 0;

    /* text */
    font-size: 10px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;

    /* transition */
    transition: left 0.125s ease-in-out, translate 0.125s ease-in-out;
}

#monopoly dialog.modal#unmortgage .selected-property span.name,
#monopoly dialog.modal#unmortgage .properties .item span.name {
    /* position */
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;

    /* sizing */
    width: max-content;
    max-width: calc(100% - 20px);
    padding-bottom: 10px;

    /* text */
    font-size: 24px;
    font-weight: 800;
    line-height: 1;
    white-space: nowrap;

    /* one line limit */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;

    /* transition */
    transition: left 0.125s ease-in-out, translate 0.125s ease-in-out;
}

#monopoly dialog.modal#unmortgage .selected-property:focus-visible,
#monopoly dialog.modal#unmortgage .properties .item:focus-visible {
    outline: 2px solid var(--form-color-selector);
    outline-offset: 2px;
}

#monopoly dialog.modal#unmortgage .properties .item:hover span.title,
#monopoly dialog.modal#unmortgage .properties .item:focus-visible span.title,
#monopoly dialog.modal#unmortgage .properties .item:hover span.name,
#monopoly dialog.modal#unmortgage .properties .item:focus-visible span.name {
    left: 10px;
    translate: 0 0;
}

#monopoly dialog.modal#unmortgage .selected-property span.icon-hover {
    /* position */
    position: absolute;
    inset: 10px;
    left: auto;
    z-index: 1;

    /* text */
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

#monopoly dialog.modal#unmortgage .selected-property span.hover {
    /* position */
    position: absolute;
    inset: 0;
    z-index: 2;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* text */
    font-size: 18px;
    font-weight: 700;
    line-height: 1;

    /* styling */
    color: var(--form-color-selector);
    background-color: var(--foreground-color-100);

    /* hiding */
    opacity: 0;
}

#monopoly dialog.modal#unmortgage .selected-property:hover span.hover,
#monopoly dialog.modal#unmortgage .selected-property:focus-visible span.hover {
    /* hiding */
    opacity: 1;
}